.mealsResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
  max-width: 100%;
  padding: 20px;
}

.meal {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 300px;
}

.meal p {
  color: black;
  font-size: 1rem;
  margin: 0;
  padding: 5px 10px;
  text-align: left;
}

.meal button {
  background-color: white;
  border: 0.5px solid rgb(115, 115, 115);
  border-radius: 10px;
  cursor: pointer;
  height: 100%;
  padding: 0;
  width: 100%;
}

.meal img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

@media screen and ( max-width : 768px ) {

  .mealsResults {
    margin: 0;
    margin-bottom: 10%;
    margin-top: 5%;
    min-width: 100vw;
    padding: 0 0 10%;
  }

  .meal {
    margin: 5px;
    margin-bottom: 5%;
    width: 150px;
  }
}

