.inProgressContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 10%;
  width: 50%;
}

.category {
  align-items: center;
  color: rgba(252, 196, 54, 1);
  display: flex;
  font-size: 1rem;
  position: absolute;
  top: 2%;
}

.title {
  visibility: hidden;
}

.detailBanner {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.itemInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 15%;
  width: 100%;
}

.detailBanner img {
  filter: brightness(50%);
  object-fit: cover;
  object-position: 100% 50%;
  overflow: hidden;
  width: 100%;
  z-index: -1;
}

.ingredientsList {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 2% 0 3% 3%;
  width: 100%;
}

.steps {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 2% 0 3% 3%;
  width: 100%;
}

.instructionsList {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 10px;
  padding: 2% 0 3% 3%;
}

.finishRecipeBtn {
  background-color: rgba(252, 196, 54, 1);
  border: none;
  bottom: 0;
  color: white;
  font-size: 1.5rem;
  position: fixed;
  width: 40%;
}

@media screen and ( max-width : 768px ) {

  .detailBanner {
    height: 20vh;
  }

  .itemInfos {
    font-size: 10px;
    margin-top: 10%;
    padding: 5% 4%;
  }

  .ingredientsList {
    margin-bottom: 10%;
  }

  .steps {
    margin-bottom: 10%;
  }

  .instructionsList {
    margin-bottom: 10%;
  }

  .inProgressContainer {
    margin: none;
    width: 100%;
  }

  .finishRecipeBtn {
    font-size: 15px;
  }
}
