.fullSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  width: 100vw;
}

.detailMealsTitle {
  position: absolute;
  visibility: hidden;
}

.itemDetail {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  width: 90%;
}

.detailBanner {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.detailBanner img {
  filter: brightness(50%);
  object-fit: cover;
  object-position: 100% 50%;
  overflow: hidden;
  width: 100%;
  z-index: -1;
}

.recipeTitle {
  color: white;
  left: 40%;
  position: absolute;
  z-index: 1;
}

.itemInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  padding: 4% 2%;
  width: 90%;
}

.itemInfos h1 {
  color: white;
  left: 40%;
  position: absolute;
  top: 10%;
}

.category {
  align-items: center;
  color: rgba(252, 196, 54, 1);
  display: flex;
  font-size: 1rem;
  position: absolute;
  top: 2%;
}

.category img {
  margin-right: 10px;
  width: 20%;
}

.ingredientsList {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 2% 0 3% 3%;
  width: 100%;
}

.react-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
