.searchContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: fit-content;
}

.search-input {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
  outline: none;
  padding: 0.5rem;
}

.radioFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}

