.carousel {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
}

.innerCarousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  text-align: center;
  white-space: nowrap;
}

.innerCarousel div:nth-child( n+3 ):nth-child( n-6 ) {
  display: none;
}


.carousel img {
  width: 200px;
}
