.carousel {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.innerCarousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.carousel img {
  border-radius: 10px;
  margin-right: 5px;
  width: 100px;
}

.sugestions {
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 20px 25px -5px , rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20%;
  padding: 5%;
}

.sugestions h2 {
  margin-bottom: 10px;
}
