.categoryFilters {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  justify-content: center;
}

.categoryFilters button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(215, 215, 16);
  color: rgb(98, 53, 224);
  width: fit-content;
}

.categoryFilters button:focus {
  border-bottom: 1px solid rgb(98, 53, 224);
}
