.shareNFavorite {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  right: 50%;
  top: 20%;
}

.shareNFavorite button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.shareNFavorite img {
  color: white;
}

.copyLink p {
  animation: copyLink 5s 1 forwards;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 100%;
  transition: ease-in-out;
  width: 100px;
}

@keyframes copyLink {

  0% {
    opacity: 0;
    position: absolute;
  }

  50% {
    opacity: 1;
    position: absolute;
  }

  100% {
    opacity: 0;
    position: absolute;
  }
}

@media screen and ( max-width : 768px ) {

  .shareNFavorite {
    right: 5%;
  }

  .shareNFavorite img {
    width: 30px;
  }

}
